@define-color bg #363334;
@define-color fg #eff4f2;
@define-color gray1 #6ab8cd;
@define-color gray2 #5d353c;
@define-color gray3 #74b2e2;
@define-color gray4 #f9a54d;
@define-color gray5 #c0a5b4;
@define-color fg_bright #eff4f2;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}